<div class="alert-dashboard">
    <div class="headerText">
        <h1>Device Insight </h1>
        <h2>Asset Name : BL1_INV1_SMB8</h2>
    </div>
    <table width="100%" class="alertTable" cellspacing="0" cellpadding="0">
        <tr>
            <th>Device Tag</th>
            <th>Current Value</th>
            <th>Timestame</th>
        </tr>
        <tr>
            <td>SMB Status</td>
            <td>1</td>
            <td>22/04/2017 00:23</td>
        </tr>
        <tr>
            <td>SMB Status</td>
            <td>1</td>
            <td>22/04/2017 00:23</td>
        </tr>
        <tr>
            <td>SMB Status</td>
            <td>1</td>
            <td>22/04/2017 00:23</td>
        </tr>
    </table>
</div>